@import "../variables";
@import "../base";
@import "mixins/completeProfHHOptioner.scss";

.completeHH__container{
    @extend .colorMainAndMargins;
    margin-bottom: 0;
    .completeHH__details{
        margin: 20px 0;
        .completeHH__inputs{
            padding: 5px 0;
        }
    }
    .completeHH__options{
        .completeHH__option{
            margin-bottom: 20px;
            @include completeHH_opt;
        }
        
    }
    .complete__upload{
        background-color: $headBack;
        color: $description-text;
        padding: 100px 90px;
        text-align: center;
        border-radius: $divs-border-radius;
    }

}