@import "../variables";
@import "../base";

.profileHH__specialties{
    @extend .colorWhitePaddingsRadius;
    border: $base-border;
    .profileHH__specialties__options{
        .profileHH__specialties__option{
            padding: 15px 0;
            &:not(:last-child){
                border-bottom: $base-border;
                
            }
        }
    }
}

.profileHH__subscription{
    .profileHH__subscription__container{
        padding: 30px 65px 20px;
        .profileHH__subscription__container__h2{
            text-align: center;
            padding-bottom: 20px;
        }
    } 
}