@import '../variables';
@import '../base';

.btnSearchResults {
  grid-area: 3/1/3 / span 2;
  button {
    //width: 100%;
    margin-top: 15px;
  }
  margin: 0;
}

.inputSearch {
  grid-area: 4/1/4 / span 2;
}

.job__container {
  padding: 15px 20px;
}
.job__card {
  background-color: $main;
  margin: 15px -18px;
}
.job__card_header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  img {
    grid-area: 1/2/1/2;
    align-self: center;
    justify-self: flex-end;
  }
  h4 {
    grid-area: 1/1/1/2;
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    padding-bottom: 5px;
  }
}
.job__card_header__details {
  grid-area: 2/1/2/2;
  color: $details-text;
  font-size: $extra-small-font-size;
  font-weight: $extra-thin-font;
}
.job__card_header__details__company {
  color: $btn-color;
}
.job__card__details {
  padding-bottom: 10px;
  .salary::before {
    content: url('/assets/images/searchResults/clock.svg');
    display: inline-flex;
    margin-right: 5px;
    align-self: center;
    justify-self: center;
  }
  .time::before {
    content: url('/assets/images/searchResults/clock\ \(1\).svg');
    display: inline-flex;
    margin-right: 5px;
    align-self: center;
    justify-self: center;
  }
  .location::before {
    content: url('/assets/images/searchResults/map-pin.svg');
    display: inline-flex;
    margin-right: 5px;
    align-self: center;
    justify-self: center;
  }
}

.job_icons {
  display: flex;
  img {
    padding-right: 10px;
  }
  margin-bottom: 30px;
}

@media only screen and (min-width: 1075px) {
  .searchResults__firstPart {
    max-width: 1005px;
    margin: auto;
  }
  .firstPart__inputs_mobile {
    display: none;
  }
  .searchResults__content {
    display: flex;
    flex-direction: row;
    max-width: 1005px;
    margin: auto;
    &__filters {
      &__filters {
        background-color: $headBack !important;
        width: 70%;
        &__container {
          width: 100%;
        }
      }
    }
    .job__cards_desktop {
      width: 72.5%;
      .job__card_mobile {
        display: none;
      }
      .job__card_desktop {
        .job__container {
          .job__card__extra__end {
              padding-top: 15px;
              &__text{
                  color: $btn-color;
                  font-weight: $btn-font-weigh;
              }
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            &__content {
              &__img {
                  margin-right: 10px;
                img {
                  max-width: 18px;
                  height: auto;
                  vertical-align: middle;
                }
              }
              color: $description-text;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .job__card_header {
            display: flex;
            justify-content: space-between;
            &__img {
              img {
                max-width: 71px;
                height: auto;

              }
            }
          }
        }
      }
    }
  }
  .job__cards_mobile {
    display: none;
  }
}

@media only screen and (max-width: 1075px) {
  .firstPart__inputs_desktop {
    display: none;
  }
  .searchResults__content {
    display: none;
  }
  .job__cards_mobile {
    .job__card_desktop {
      display: none;
    }
  }
}
