doctype html
html(lang="en")
head
    include ./includes/baseInfo.pug
    title complete profile HH
body
    include ./includes/headerLogged.pug
    include ./mixins/searchButton.pug
    include ./mixins/inputHome.pug
    main 
        .completeHH__container 
            .completeHH__details
                h5 Update  your profile
                .completeHH__inputs
                    .completeHH__inputs
                        +inputHome('Your name', '', 'text', true)
                    .completeHH__inputs
                        +inputHome('Company Name', '', 'text', true)
                    .completeHH__inputs
                        +inputHome('Email', '', 'text', true)
                    .completeHH__inputs
                        +inputHome('Phone number', '', 'text', true)
            .completeHH