doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="../js_part/scripts.js")
    link(rel="stylesheet" href="../styles/css/index.css")
    title Search results
  body
    include ./includes/header.pug
    include ./mixins/sectionFilter.pug
    include ./mixins/checkboxFilter.pug
    include ./mixins/searchButton.pug
    include ./mixins/backToResults.pug
    main 
      +backResults("Back to search results")
      .filters 
          .filters__container 
              .filter__first
                  -const first_section={label:"Order", default:"By relevance", first_val: "The first", second_val:"The second", third_val: "The third", flag_strong:true}
                  +sectionFilter(first_section)
              .filter_salary_container 
                  .filter_salary_header 
                      h3.strong__filter Salary range
                  .filter__first
                      -const salary_section_from={label:"From:", default:" £ Any", first_val: "The first", second_val:"The second", third_val: "The third", flag_normal:true}
                      +sectionFilter(salary_section_from)

                  .filter__first
                      -const salary_section_to={label:"To:", default:" £ Any", first_val: "The first", second_val:"The second", third_val: "The third", flag_normal:true}
                      +sectionFilter(salary_section_to)

              .checkboxes__filters
                  -const data_type={label:"Job type", vals: ["Permanent (3 134)", "Contract (205)", "Temporary (3 566)", "Part Time (81)"]}
                  +checkboxFilter(data_type)

                  -const data_industry={label:"Industry", vals: ["Surveyor (3 134)", "Development Manager (205)", "Construction Laborer (566)", "Equipment Operator (81)"]}
                  +checkboxFilter(data_industry)

                  -const data_workplace={label:"Workplace", vals: ["Office (3 134)", "Partial Remote (205)", "Fully Remote (3 566)"]}
                  +checkboxFilter(data_workplace) 

              +srchBtn("Apply Filters")
          
    include ./includes/footer.pug