doctype html
html(lang="en")
head
    include ./includes/baseInfo.pug
    title HH profile
body
    include ./includes/headerLogged.pug
    include ./mixins/searchButton.pug 
    include ./mixins/lightButton.pug
    main 
        .profile__container 
            .profile__select
                select.distance(name="distance", onchange="changePage(this.value)")
                    option(selected, value='HHprofile') My profile
                    option(value="requestedSupportHH") Requsted support
                    option(value="rolesHH") Roles

            .profile__about 
                .profile__about__header
                    h4 About you
                    .profile__about__header__edit 
                        img(src="../../dist/assets/images/myProfile/edit.svg", alt="edit")
                        span Edit
                .profile__about__content 
                    img(src="../../dist/assets/images/myProfile/avatar.jpg", alt="user_icon")
                    .profile__about__description 
                        h4 Anne-Marie Daniels
                        .profile__about__description__role 
                            |Top Headhunters
                .profile__about__description__gmail
                    |Email: anne.marie93@gmail.com
            
            .profileHH__specialties 
                .profile_selections__header 
                    .profile_selections__header__begin
                        h4 Specialities
                        span.profile_selections__header__HH View All
                    span.recommendation__edit Add/Edit
                .profileHH__specialties__options 
                    .profileHH__specialties__option
                        | Senior Front End Developer (JavaScript)
                    .profileHH__specialties__option
                        | Lead sodtware engineer / Developer Prod...

            .profileHH__subscription 
                .profile_selections__header 
                    h4 Subscription   
                    span.recommendation__edit Manage card details
                .profileHH__subscription__container 
                    h3.profileHH__subscription__container__h2 
                        | Active (£12 / month) 
                    .profileHH__subscription__container__btn
                        +lightBtn("Cancel Subscription ")
            
            .profileHH__invoices 
                .profile_selections__header 
                    .profile_selections__header__begin
                        h4 Invoices
                        span.profile_selections__header__HH View All
                .profileHH__invoices__options 
                    .profileHH__invoices__option
                        .profileHH__invoices__option__text
                            | Subscription  £12
                        .profileHH__invoices__option__details
                            | 13/01/2021
                    .profileHH__invoices__option
                        .profileHH__invoices__option__text
                            | Subscription  £12
                        .profileHH__invoices__option__details
                            | 02/03/2020
            
            .profileHH__notifications
                .profile_selections__header 
                    h4 Notifications
                .profileHH__notifications__switchers 
                    .profileHH__notifications__switcher.profileHH__switch__first
                        span.profileHH__notifications__switcher__text Receive notification on application updates
                        label.switch
                            input(type="checkbox")
                            span.slider__switch.round
                    .profileHH__notifications__switcher.profileHH__switch__first
                        span.profileHH__notifications__switcher__text Weekly Summary of applications
                        label.switch
                            input(type="checkbox")
                            span.slider__switch.round
                    .profileHH__notifications__switcher
                        span.profileHH__notifications__switcher__text Invitations
                        label.switch
                            input(type="checkbox")
                            span.slider__switch.round
    include ./includes/footer.pug