doctype html
html(lang="en")
head
    include ./includes/baseInfo.pug
    script(src="../../dist/js/changeTab.js")
    title Search results
body
    include ./includes/header.pug
    include ./mixins/backToResults.pug
    main 
        +backResults("Back to search results")
        include ./mixins/jobCardDetailsHeader.pug
        include ./mixins/searchButton.pug
        -const first_data={job: "Construction Manager", short:"Posted February 01, 2021 by ", company:"Tesla", salary: "£30,000 - £70,000 per annum", time: "Full-time", location:"London"}
        +jobCardDetailsHeader(first_data)

        .jobs__section__highlights.jobs__section#highlights 
                .highlight__header 
                    .highlight__header__industry 
                        h4 Industry: 
                        span Developement Manager
                    .highlight__header__type 
                        h4 Job type: 
                        span Permanent
                .highlight__description 
                    | Would you like to work from home part time with 
                    | no experience and an immediate start? Research Tribe is 
                    | looking for people across the UK to work from home by taking part in research.
                +srchBtn("Apply Now")

        .jobs__section__details.jobs__section#details
            .jobs__section__details__short__description
                |This innovative and boutique City of London firm are looking for a 
                |Construction Senior Lawyer/Partner to further strengthen their offering.
            .jobs__section__details__long__description
                h4 The firm
                |This multi-service firm punch well above their weight, and their main competitors are 
                |impressively some Top 50 firms - they deal with work on par with some of the country's 
                |most well-known law firms.<br> They are ranked in the Legal 500, and in the last five years 
                |they have nearly doubled in size, this is due to a dynamic team, some strategic key hires, 
                |and an influx of work. They have attracted many Lawyers out of much larger firms who are 
                |looking for a more collegiate, friendly culture where staff can make more of an impact and 
                |feel valued. You will also find there is much more in the way of staff flexibility and work-life 
                |balance.<br> As an entrepreneurial firm they are ahead of the curve in the changing legal landscape; 
                |it is this approach and strong leadership credited as to why they remain to be successful 
                |and profitable.
            +srchBtn("Apply Now")

        .jobs__section__company.jobs__section#company
            .jobs__section__details__short__description
                |This innovative and boutique City of London firm are looking for a 
                |Construction Senior Lawyer/Partner to further strengthen their offering.
            .jobs__section__details__long__description
                h4 The firm
                |This multi-service firm punch well above their weight, and their main competitors are 
                |impressively some Top 50 firms - they deal with work on par with some of the country's 
                |most well-known law firms.<br> They are ranked in the Legal 500, and in the last five years 
                |they have nearly doubled in size, this is due to a dynamic team, some strategic key hires, 
                |and an influx of work. They have attracted many Lawyers out of much larger firms who are 
                |looking for a more collegiate, friendly culture where staff can make more of an impact and 
                |feel valued. You will also find there is much more in the way of staff flexibility and work-life 
                |balance.<br> As an entrepreneurial firm they are ahead of the curve in the changing legal landscape; 
                |it is this approach and strong leadership credited as to why they remain to be successful 
                |and profitable.
            +srchBtn("Apply Now")
        
        include ./includes/similarJobs.pug
    include ./includes/footer.pug