doctype html
html(lang="en")
head
    include ./includes/baseInfo.pug
    title Recommended roles
body
    include ./includes/headerLogged.pug
    include ./mixins/jobCard.pug
    main 
        .profile__container 
            .profile__select
                select.distance(name="distance", onchange="changePage(this.value)")
                    option(value='myProfile') My profile
                    option(value="applicationsProfile") Applications
                    option(value="recommendedRoles", selected) Recommended Roles
                    option(value="employerInvitations") Employer Invitations
                    option(value="savedRoles") Saved Roles
            .recommended__roles__content
                .recommended__roles__container 
                    .recommended__roles__header 
                        h4 Recommended roles
                    .recommended__roles__cards
                        -const first_data={job: "Construction Manager", short:"Posted February 01, 2021 by ", company:"Tesla", salary: "£30,000 - £70,000 per annum", time: "Full-time", location:"London", description: "Would you like to work from home part time with no experience and an immediate start? Research Tribe is looking for people across the UK to work from home by taking part in research. You could become a mystery shopper, product tester or simply share your...", recommended_roles:true}
                        +jobCard(first_data)
                        .recommended__role__exception
                            -const second_data={job: "Financial Services Representative", short:"Posted February 01, 2021 by ", company:"Tesla", salary: "£30,000 - £70,000 per annum", time: "Full-time", location:"London", description: "Would you like to work from home part time with no experience and an immediate start? Research Tribe is looking for people across the UK to work from home by taking part in research. You could become a mystery shopper, product tester or simply share your...", recommended_roles:true}
                            +jobCard(second_data)
    include ./includes/footer.pug