mixin optioner(data)
    .completeHH__option__container 
        .completeHH__option__header 
            h5 #{data.h5}
            .completeHH__option__header__add 
                span + Add
        .completeHH__option__choice 
            span #{data.choice1}
            span x
        .completeHH__option__choice 
            span #{data.choice2}
            span x