mixin achievement(data)
    .sixthPart__cards__card
          .sixthPart__cards__card__info
            .sixthPart__cards__card__info__img
              img(src=data.img, alt=data.img_name)
            .sixthPart__cards__card__info__title
              h4 #{data.h4_text}
            .firstPart__card__description
              span #{data.description}