@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Manrope:wght@300&display=swap');

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  margin: 0 18px;
  background-color: $headBack;
  font-family: 'Manrope';
}
.border_top_bottom {
  border-top: $base-border;
  border-bottom: $base-border;
}
//reusable classes

.colorMainAndMargins {
  background-color: $main;
  margin: 10px -18px;
  padding: 18px;
}

.colorWhitePaddingsRadius {
  background-color: $headBack;
  border-radius: $divs-border-radius;
  padding: 15px;
}
@media only screen and (min-width: 1075px) {
  body {
    margin: 0 132px;
  }
}

.question__container {
  display: flex;
  flex-direction: column;
}

.cookies {
  background: $cookies;
  padding: 20px 20px;
  text-align: left;
  margin-top: 40px;
  display: flex;
  &__content {
      &__btn {
        justify-content: flex-start;
        display: flex;
        width: 100%;
      }
    }
}

.cookies__btn {
  background-color: $btn-color-dark;
  color: $btn-text;
  border-radius: $cookies-btn;
  padding: 10px 45px;
  margin-top: 10px;
}

//search results


.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 25px;
}

.slider-all {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slide,
.prevBtn,
.nextBtn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid $details-text;
  border-radius: 5px;
}

.prevBtn,
.nextBtn {
  cursor: pointer;
}

.prevBtn:hover,
.nextBtn:hover,
.slide:hover {
  border: 1px solid #05a660;
  color: #05a660;
}

.back__section {
  background-color: $main;
  margin: 0 -18px 10px;
  padding: 25px 15px;
}

.filters {
  background-color: $main;
  margin: 0 -18px;
  padding: 15px;
}
.filters__container {
  background-color: $headBack;
  padding: 15px;
  border-radius: $base-border-radius;
  border: $base-border;
  display: flex;
  flex-direction: column;
}

.filter__first {
  label {
    display: block;
    margin-bottom: 10px;
  }
  margin-bottom: 10px;
}

.selectFilter {
  border: $base-border;
  border-radius: $base-border-radius;
  padding: 15px;
  font-weight: $basic-font-weight;
  width: 100%;
}

.normal__filter {
  margin-bottom: 5px !important;
}

.strong__filter {
  font-weight: $h4-font-weight;
}

.filter_salary_header {
  font-size: $base-font-size;
  margin: 20px 0 10px;
}

.checkboxes__filters {
}
.checkbox__container {
  margin: 25px 0;
}
.checkbox__header {
  display: flex;
  justify-content: space-between;
  label {
    font-size: $base-font-size;
    font-weight: $h4-font-weight;
    margin-bottom: 10px;
  }
  span {
    color: $details-text;
    font-size: $extra-small-font-size;
    font-weight: $extra-thin-font;
  }
}

.checkbox__options {
  display: flex;
  flex-direction: column;
}

.checkbox__option {
  input {
    margin-right: 10px;
  }
}

.tab_button {
  border: none;
  border-bottom: $base-border;
  background-color: $main;
  padding: 15px;
  font-size: $base-font-size;
  font-weight: $btn-font-weigh;
  color: $details-text;
}

.tab_button__second {
  border: none;
  background-color: $main;
  padding: 15px;
  font-size: $extra-small-font-size;
  font-weight: $basic-font-weight;
  color: $details-text;
}
.tab_active {
  border-bottom: 3px solid #2e1aad !important;
  color: $h3-text;
}

.tab_active__second {
  font-weight: $extra-thin-font;
  color: black;
}
.highlight__header {
  display: flex;
  flex-direction: column;
  div {
    display: inline-flex;
  }
  margin: 10px 0;
  h4 {
    font-weight: $h4-font-weight;
    padding: 0 5px 5px 0;
  }
}

.jobs__section {
  margin: 0 -18px;
  padding: 15px;
  background-color: $main;
}

.similar__jobs__h4 {
  padding-top: 30px;
}

.similar__jobs__extra__info {
  font-weight: $btn-font-weigh;
  color: $btn-text-light;
  font-size: $base-font-size;
  padding-top: 10px;
}
.jobs__section__details,
.jobs__section__company {
  display: none;
  
  h4 {
    font-weight: $basic-font-weight;
    padding-bottom: 10px;
  }
}
.jobs__section__details__short__description {
  padding-bottom: 20px;
}

.home__container {
  background-color: $main;
  margin: 0 -15px;
  padding: 15px;
}

.home__tabs__first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.home__tabs__second {
  display: flex;
  button {
    width: 100%;
  }
}

.google_btn {
  display: flex;
  margin-top: 40px;
  padding: 15px 20px;
  border: $base-border;
  justify-content: center;
  border-radius: $base-border-radius;
  h4 {
    padding-left: 10px;
    font-weight: $btn-font-weigh;
    color: $btn-text-light;
  }
}

.text__home {
  font-weight: $h4-font-weight;
  color: $description-text;
}

.input__home {
  label {
    display: block;
    font-size: $extra-small-font-size;
    margin: 10px 0 5px;
  }
  input {
    box-sizing: border-box;
    font-size: $h4-font-size;
    font-weight: $btn-font-weigh;
    padding: 10px;
    border: $base-border;
    border-radius: $base-border-radius;
    width: 100%;
  }
}
.text__home__option {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.home_inputs {
  margin: 0 15px 0 0;
}

.home_check_rights {
  span {
    padding-left: 10px;
  }
  margin: 20px 0 40px;
}

.registration__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 90px;
}

.registration__info {
  text-align: center;
  h4 {
    margin-bottom: 15px;
  }
  img {
    margin: 22px 0;
  }
}

.apply__header {
  padding: 20px 0;
}
.apply__header__details {
  h2 {
    padding-bottom: 5px;
  }
}
.apply__header__details__company {
  color: $btn-text-light;
}

.application__container {
  background-color: $main;
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}
.application__arrow {
  color: $description-text;
  font-size: $h3-font-size;
  font-weight: $h4-font-weight;
  padding-right: 20px;
}
.application__header {
  padding: 20px 0 20px 10px;
}
.apply__insert__file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main;
  margin: 0 -15px;
  padding: 30px 15px 20px 15px;
  margin-top: 15px;
}
.insert__file__header {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h3 {
    padding: 15px 0 10px;
  }
  h4 {
    font-size: $h4-font-size;
    color: $description-text;
    font-weight: $extra-thin-font;
    line-height: 150%;
    text-align: center;
  }
}

.edit_text a {
  font-size: $base-font-size;
  text-decoration: none;
  color: $btn-color;
  font-weight: $font-weight-600;
}

.edit_text {
  padding: 10px 0 15px;
}

.apply__allow {
  padding: 25px 0 40px;
  span {
    padding-left: 10px;
    font-size: $h4-font-size;
  }
}

.apply__content {
  button {
    margin-top: 30px;
  }
  margin-bottom: 70px;
}

.skip__option {
  color: $btn-color;
}

.cv__container {
  @extend .colorMainAndMargins;

  textarea {
    box-sizing: border-box;
    width: 100%;
    border: $base-border;
    border-radius: $base-border-radius;
    padding: 15px;
    color: $description-text;
    font-size: $base-font-size;
  }
}

.cv__buttons {
  display: flex;
  flex-direction: column;
  .skip__link {
    align-self: center;
    padding-top: 20px;
    a {
      text-decoration: none;
      color: $btn-color;
    }
  }
}
.question__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 20px;
  h4 {
    padding-bottom: 20px;
  }
}

.question__input {
  padding-bottom: 15px;
  label {
    padding-left: 10px;
  }
}

.questionnaire__container,
.review__container,
.cv__review__container,
.questionnaire__review__container {
  @extend .colorMainAndMargins;
  @extend .border_top_bottom;
}
.questionnaire__instruction {
  color: $details-text;
  padding-bottom: 25px;
}
.review__container {
  box-sizing: border-box;
  padding-bottom: 50px;
  margin-bottom: 15px;
}
.review__img {
  padding: 15px 0;
  img {
    width: 50%;
    height: auto;
  }
}
.cv__review__container {
  @extend .colorMainAndMargins;
  @extend .border_top_bottom;
  h3 {
    padding-bottom: 15px;
  }
  margin-bottom: 15px;
}
.questionnaire__review__container {
  h3 {
    padding-bottom: 25px;
  }
  p {
    padding-bottom: 5px;
  }
  padding-bottom: 25px;
}
.questionnaire__review__part:not(:last-child) {
  padding-bottom: 35px;
}

.job__success__text {
  margin-bottom: 5px !important;
}
.job__success {
  padding-bottom: 30px !important;
}

.edit__container {
  @extend .colorMainAndMargins;
  padding-right: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  button {
    margin-top: 20px;
  }
}
.photo__upload {
  button {
    width: 100%;
    border: none;
    border-radius: $base-border-radius;
    background-color: $headBack;
    color: $description-text;
    min-height: 200px;
  }
}
.edit__inputs {
  box-sizing: border-box;
  padding-top: 20px;
}
.optional__fields__text {
  padding: 40px 0 15px 0;
}

/////////////////////////////////////////////////////////// Profile section

.profile__container {
  @extend .colorMainAndMargins;
  margin-bottom: 0;
  @extend .border_top_bottom;
  > div:not(:last-child) {
    margin-bottom: 15px;
  }
  > div:not(:first-child) {
    @extend .colorWhitePaddingsRadius;
  }
}

.profile__select {
  select {
    padding: 10px;
    border: $base-border;
    border-radius: $base-border-radius;
    width: 100%;
  }
  margin: 20px 0;
}

.profile__about {
  margin-bottom: 15px;
  height: max-content;
}
.profile__about__header {
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.profile__about__header__edit {
  img {
    padding-right: 5px;
  }
  color: $btn-text-light;
}
.profile__about__content {
  display: flex;
  padding-top: 8px;
  align-items: center;
  img {
    border-radius: 50%;
    max-height: 40px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .profile__about__description__role {
    color: $description-text;
  }
}

.profile__cv__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.profile__cv__current {
  @extend .border_top_bottom;
  padding: 15px 0;
}

.profile__cv__current__included {
  display: flex;
  padding-top: 5px;
  span {
    color: $btn-text-light;
    padding-left: 5px;
  }
}

.profile__cv__prev {
  padding: 15px 0;
}

.profile__cv__prev__inserted {
  padding-top: 8px;
  span {
    color: $description-text;
  }
}

.profile_selections__header {
  display: flex;
  justify-content: space-between;
  border-bottom: $base-border;
  .recommendation__edit {
    color: $btn-text-light;
  }
  padding-bottom: 8px;
  margin-bottom: 8px;
  .profile_selections__header__begin {
    display: flex;
    flex-direction: row;
    .profile_selections__header__HH {
      color: $btn-text-light;
      margin-left: 10px;
    }
  }
}
.settings__box {
  h4 {
    padding: 15px 0;
  }
  padding-bottom: 20px;
}

.box_with_borders {
  border-bottom: $base-border;
}
.setting__option {
  padding-bottom: 8px;
}

.salary__range__container {
  display: flex;

  label {
    display: block;
  }
}
.range_outlier {
  input {
    padding: 8px 0px;
    border: $base-border;
    border-radius: $base-border-radius;
    text-align: center;
    max-width: 100px;
  }

  span {
    padding: 0 15px;
  }
}

.office__location__profile__container {
  margin: 14px 0;
}

.office__location__option {
  width: max-content;
  background-color: $office-loc-grey;
  padding: 4px 12px;
  border-radius: $base-border-radius;
}

.office__location__option:not(:last-child) {
  margin-bottom: 12px;
}

.open__opportunities__description {
  box-sizing: border-box;
  padding: 7px 0 26px;
  border-bottom: $base-border;
  color: $description-text;
}
.open__opportunities__comp {
  padding: 15px 0;
  display: flex;
  img {
    max-width: 26px;
    height: auto;
  }
  span {
    padding-left: 12px;
    justify-content: center;
    align-self: center;
  }
}

.open__opportunities__comp:not(:last-child) {
  border-bottom: $base-border;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  grid-area: 1/2/1/2;
  justify-self: end;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider__switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider__switch:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider__switch {
  background-color: $btn-color;
}

input:focus + .slider__switch {
  box-shadow: 0 0 1px $btn-color;
}

input:checked + .slider__switch:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider__switch.round {
  border-radius: 34px;
}

.slider__switch.round:before {
  border-radius: 50%;
}
.notifications__switcher__first {
  border-bottom: $base-border;
}
.notifications__switcher {
  padding: 15px 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;

  span {
    grid-area: 1/1/1/1;
  }
}
.delete__awarning__profile {
  padding-top: 10px;
}
.delete__confirmation__profile {
  color: $warning-text;
  padding: 20px 0 15px;
}

////modal windows
.workplace__profile__modal,
.office__profile__modal {
  h4 {
    padding-bottom: 15px;
  }
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.workplace__profile__modal__option {
  label {
    padding-left: 10px;
  }
}
.workplace__profile__modal__header {
  display: flex;
  justify-content: space-between;
}
.overlay__for__modal {
  position: relative;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.office__profile__modal {
  select {
    padding: 10px;
    border: $base-border;
    border-radius: $base-border-radius;
  }
  .office__location__profile__container {
    padding: 25px 0;
  }
}

////////////////////////////////////////////////////////////////////Profile section.Applications

.applications__container {
  @extend .colorWhitePaddingsRadius;
}
.applications__content {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px;
  @extend .colorMainAndMargins;
}
.tab_button_application {
  border: none;
  background-color: $headBack;
  padding: 15px;
  font-size: $base-font-size;
  font-weight: $btn-font-weigh;
  color: $details-text;
}

.tab_active_application {
  border-bottom: 3px solid #2e1aad !important;
}
#closed__applications {
  h4 {
    padding-top: 15px;
  }
}

.application_tabs {
  padding-bottom: 15px;
  border-bottom: $base-border;
  margin-bottom: 5px;
}

.application__active__card {
  padding: 15px 0;
}
.application__active__card:not(:last-child) {
  border-bottom: $base-border;
}
.application__active__header {
  display: flex;
  justify-content: space-between;
}
.application__active__header__input {
  label {
    padding-left: 5px;
  }
}
.application__active__header__status {
  display: flex;
  span {
    margin-right: 10px;
    white-space: nowrap;
  }
}
.application__active__header__status__num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $cookies;
  text-align: center;
}
.application__active__salary {
  padding: 10px 0;
}
.application__active__company {
  img {
    max-width: 25px;
    height: auto;
    padding-right: 5px;
  }
  display: flex;
  align-items: center;
}

/////////////////////////////////////////////////////////myProfile.Recommended roles
.recommended__roles__content {
  @extend .colorMainAndMargins;
  margin: 0 0 35px;
}
.recommended__roles__container {
  div {
    background-color: $headBack;
  }
}
.recommended__roles__header {
  border-bottom: $base-border;
  padding-bottom: 15px;
}

.recommended__roles__cards {
  > div {
    margin: 0 -15px;
  }
}

.recommended__roles__extra__info {
  font-weight: $btn-font-weigh;
  color: $btn-text-light;
  font-size: $base-font-size;
  padding: 20px 0;
  border-bottom: $base-border;
}
.recommended__role__exception {
  div {
    border-bottom: none;
  }
  > div {
    margin: 0;
  }
  div:last-child {
    padding-bottom: 5px;
  }
}
///////////////////////////////////////////////////////////////////myProfile.Employer Invitations
.employer__invitations__content {
  @extend .colorMainAndMargins;
  margin: 0 -18px;
  padding-bottom: 30px;
}
.employer__invitations__container {
  @extend .colorWhitePaddingsRadius;
}
.employer__invitations__header {
  padding: 15px 0;
  border-bottom: $base-border;
}
.employer__invitation__btn {
  button {
    background-color: red;
    padding: 10px 10vw;
  }
}
.employer__card__header {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employer__invitations__cards {
  > div:not(:last-child) {
    border-bottom: $base-border;
  }
}

///////////////////////////////////////////////////////////////myProfile.view Details
.view__appplication__content {
  @extend .colorMainAndMargins;
  margin-bottom: 0px;
}
.view__application__container {
  @extend .colorWhitePaddingsRadius;
}

.view__application__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  h4 {
    padding-bottom: 5px;
  }
  span {
    color: $description-text;
  }
}

.view__details__steps {
  background-color: $main;
  padding: 15px;
  border-radius: $divs-border-radius;
  margin: 20px 0;
}

.view__details__step {
  span {
    margin-left: 10px;
  }
}
.position__description__info {
  margin-bottom: 20px;
}
.position__description__cv {
  h4 {
    color: $description-text;
    font-weight: $basic-font-weight;
  }
}
.position__description__cv__info {
  display: flex;
  align-items: center;
  padding: 10px 0 25px;
  span {
    padding-left: 10px;
  }
}

.position__description__stage {
  padding: 15px 9px;
  background-color: $main;
  border-radius: $divs-border-radius;
  margin-bottom: 20px;
}
.position__description__stage__text {
  padding: 10px 0;
}
.position__description__cl {
  padding: 15px 9px;
  border-radius: $divs-border-radius;
  margin-bottom: 20px;
  border: $base-border;
}
.position__description__btn button {
  background-color: red;
  width: 50% max-content;
  padding: 10px 13px;
}
.position__description__btn {
  display: flex;
  justify-content: flex-start;
}

.messages__container {
  border-radius: $divs-border-radius;
  padding: 15px;
  background-color: $main;
  margin: 17px 0;
}

.message__header {
  img {
    max-width: 24px;
    height: auto;
    border-radius: 50%;
  }
  display: flex;
  h4 {
    margin-left: 12px;
  }
  margin-bottom: 20px;
}

.message__details {
  margin-bottom: 10px;
  color: $description-text;
}
.message__text__first {
  margin-bottom: 10px;
}
.message__profile__content {
  margin-bottom: 20px;
}

.messages__input__profile {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border-radius: $base-border-radius;
    border: none;
  }
  button {
    position: relative;
    color: $btn-color-light;
    background-color: $btn-color;
    border: none;
    border-radius: $base-border-radius;
    padding: 6px 20px;
    height: max-content;
    margin-left: -90px;
  }
}
