.footer_rights
  .content
    .col.content__col__info
      .col__header Company
      .col__content
        .col__item 
          a(href="#") Home
        .col__item 
          a(href="#") About I-TAPP
        .col__item 
          a(href="#") News
        .col__item 
          a(href="#") Terms and Conditions
        .col__item 
          a(href="#") Privacy Policy
    .col.content__col__jobs
      .col__header Jobs
      .col__content
        .col__item 
          a(href="#") For Candidates
        .col__item 
          a(href="#") For Employers
        .col__item 
          a(href="#") For Headhunters
    .col.content__col__company
      .col__header.extra I-Tapp
      .col__content
        .col__item Copyright © 2021 I-TAPP
        .col__item All rights reserved
