.footer_rights
  .content
    .col
      .col__header Company
      .col__content
        .col__item Home
        .col__item About I-TAPP
        .col__item News
        .col__item Terms and Conditions
        .col__item Privacy Policy
    .col
      .col__header Jobs
      .col__content
        .col__item For Candidates
        .col__item For Employers
        .col__item For Headhunters
    .col
      .col__header.extra I-Tapp
      .col__content
        .col__item Copyright © 2021 I-TAPP
        .col__item All rights reserved
