
header.header_mobile 
  .logo
    img(src="../../dist/assets/images/main/itapplogo_color.svg", alt="logo")
  .user
    img(src="../../dist/assets/images/main/ic24-user.svg", alt="user_icon")
  .topnav
    a.active(href="#home")
    #myLinks
      a(href="../../dist/pages/home.html") Home
      a(href="#news") News
      a(href="#about") About
      a(href="#employers") For Employers
      a(href="#headhunters") For Headhunters
    a.icon(href="javascript:void(0);", onclick="myFunction()")
      i.fa.fa-bars
.header__line


header.header_desktop 
  .logo
    img(src="../../dist/assets/images/main/itapplogo_color.svg", alt="logo")
  .header__tabs
    button(class="header__tab header__tab_active", onclick="changePage('home')") Home
    button(class="header__tab", id="headerTab_1", onclick="handleHeaderChange('#news', 'headerTab_1')") News
    button(class="header__tab", id="headerTab_2", onclick="handleHeaderChange('#about', 'headerTab_2')") About

.header__line