header 
  .logo
    img(src="../../dist/assets/images/main/itapplogo_color.svg", alt="logo")
  .user
    img(src="../../dist/assets/images/main/ic24-user.svg", alt="user_icon")
  .topnav
    a.active(href="#home")
    #myLinks
      a(href="../../dist/pages/home.html") Home
      a(href="#news") News
      a(href="#about") About
      a(href="#employers") For Employers
      a(href="#headhunters") For Headhunters
    a.icon(href="javascript:void(0);", onclick="myFunction()")
      i.fa.fa-bars
.header__line
 