@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Manrope:wght@300&display=swap');

*{
    margin: 0 0;
    padding: 0  0;
    
}

body{
    margin: 0 18px;
    background-color: $headBack;
    font-family: 'Manrope';
}
.border_top_bottom{
    border-top: $base-border;
    border-bottom: $base-border;
}
//reusable classes

.colorMainAndMargins{
    background-color: $main;
    margin: 10px -15px;
    padding: 15px;
}
header{
    display: grid;
    padding: 18px 0;
    grid-template-columns: 2fr 1fr;
    background-color: $headBack !important;
    box-sizing: border-box;
}
.logged__img{
    padding: 3px 5px 0 0;
}
.logo{
    grid-area: 1/1/2/2;  
}

.topnav {
    grid-area: 1/2/2/2;
    justify-self: flex-end;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    margin-left:10px;
}
  
.topnav #myLinks {
    display: none;
    color: $h3-text;
}

.topnav #myLinks a{
    
    color: $h3-text;
}


.topnav a {
    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
}

.topnav a:not(:first-child)::before {
    content: '';
    background-color: $description-text-w;
    height: 1px;
    width: 100%;
    display: block;
    margin-bottom: 15px; 
}

.topnav a:first-child{
    margin-top: 20px;
}
.topnav a.icon {
    
    display: flex;
    position: absolute;
    top:0;
    right:0;
}

.topnav a:hover {
    color: black;
}

.header__line{
    border-bottom: $base-border;
    width: 99.5vw;
    margin: 0 -15px;
}

.question__container{
    display: flex;
    flex-direction: column;
} 

.user{
    grid-area: 1/2/2/2;
    padding-right: 40px;
    justify-self: flex-end;
}



///first part of a website
.firstPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    background-color: $main;
    margin: 0 -18px; 
    padding: 20px 18px;
    img{
        padding: 24px 0;
    }
    h3 {
        
        color: $h3-text;
        font-size: $h3-font-size;
        font-weight: $h3-text-w;
        line-height: $h3-text-height; 
        padding-bottom: 20px;

    }
    

}

.firstPart__card__description{
    color: $description-text;
    font-size: $base-font-size;
    font-weight: $description-text-w;
    line-height: $description-text-height; 
    padding-bottom: 40px;
    
}

.firstPart__inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    input, select {
        border:$base-border;
        border-radius: $base-border-radius;
        padding: 15px ;
        font-weight: $h3-text-w;
    }
    select option[disabled] {
        color: $description-text; 
    }
}

.job{
    grid-area: 1/1/2/span 2;
}

.location{
    grid-area: 2/1/2/1;
}

.distance{
    grid-area: 2/2/2/2;
}
    
.search{
    grid-area: 3/1/3/span 2;
    background-color: $btn-color;
    color: $btn-text;
    margin-bottom: 15px;
}

.secondPart {
    div{
        border-radius: $divs-border-radius;

    }
    background-color: $headBack;
}

.secondPart_info{
    padding: 16px 20px;
    background-color: $main;
    h4{
        font-size: $h4-font-size;
        padding-bottom: 10px;
        color: $h3-text;
    }
}

.slider{
    width: 95vw;
    padding-top: 20px;
}



.slick-dots{
    li.slick-active{

            button{
                border: 30px solid #007acc !important;
            }
        
    }
}
.thirdPart{
    div{
        border-radius: $divs-border-radius;

    }
    background-color: $headBack; 
    .line{
        width: 80%;
        height: 1px; 
        background-color: $main; 
        margin-bottom: 40px;
    }
    
}
.thirdPart__btn{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;

    button{
        width: 100%;
    }
}
.btnProp{
    background-color: $btn-color;
    color: $btn-text;
    border:$base-border;
    border-radius: $base-border-radius;
    padding: 15px 15vw;
    font-weight: $btn-font-weigh;

}


.fourthPart__line{
    margin: 25px 0 -10px 0;
}

.fifthPart{
    div{
        border-radius: $divs-border-radius;

    }
    background-color: $main;

    h3{
        padding-top: 20px;
    }
}
.fifthPart__info{
    background-color: $headBack;
}
.fifthPart__card__description{
    
    color: $h3-text !important;
    font-size: $h4-font-size !important;
}


.fifthPart__avatar{
    margin:30px 0;
    
}

.fifthPart_avatar_names{
    color:$h3-text
}

.fifthPart_avatar_position{
    color:$description-text
}


.sixthPart{
    margin-top: 40px;
    display: grid;
    >div:not(:first-child){
        margin: 10px 0;
    }

    div{
        border-radius: $divs-border-radius;

    }
    
    .thirdPart__card {
        .fourthPart_info{
            img {
                padding: 5px 0 !important;
            }
        } 
    }

    .thirdPart__card{
        .fourthPart_info{
            .firstPart__card__description{
                padding-bottom: 10px !important;
            }
        }
    }  
}


.seventhPart{
    .firstPart__card{
        
        .fourthPart_info{
            text-align:left;
            background-color: $headBack ;

            img{
               width: 100%;
               border-radius: $divs-border-radius;
            }
        }
    }
}


.thirdPart__btn_light{
    
    background-color: $btn-color-light ;
    color: $btn-text-light ;
    border:$border-light;
    
}

.cookies{
    background: $cookies;
    padding: 20px 20px;
    text-align: left;
    margin-top: 40px;
}

.cookies__btn{
    background-color: $btn-color-dark ;
    color: $btn-text ;
    border-radius: $cookies-btn;
    padding: 10px 45px;
    margin-top: 10px;
}

.footer_rights{
    box-sizing: border-box;
    margin: 0 -18px; 
    padding:40px  15px;
    background-color: $footer-bg;
    color:$btn-text;
    text-align: center;

    .col:not(:last-child){
        margin-bottom: 30px;
    }
    .col__header{
        font-size: $h4-font-size;
        font-weight: $btn-font-weigh;
        padding-bottom: 20px;
    }
    
    .col{
        .col__item:not(:last-child){
            padding-bottom: 10px;
        }
    }

    .extra{
        font-size: $extra-font-size;
        font-weight: $extra-font-weight;
    }
}

//search results

.btnSearchResults{
    grid-area: 3/1/3/span 2;
    button{
        width: 100%;
    }
    margin: 0;
}

.inputSearch{
    grid-area: 4/1/4/span 2;
}

.job__container{
    padding: 15px 20px;
}
.job__card{
    background-color: $main;
    margin: 15px -18px;
}
.job__card_header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    img{
        grid-area: 1/2/1/2;
        align-self: center;
        justify-self: flex-end;
    }
    h4{
        grid-area: 1/1/1/2;
        font-size: $h4-font-size;
        font-weight: $h4-font-weight;
        padding-bottom: 5px;
    }
}
.job__card_header__details{
    grid-area: 2/1/2/2;
    color: $details-text;
    font-size: $extra-small-font-size;
    font-weight: $extra-thin-font;
}
.job__card_header__details__company{
    color: $btn-color;
}
.job__card__details{
    padding-bottom: 10px;
    .salary::before{
        content: url('/assets/images/searchResults/clock.svg');
        display: inline-flex;
        margin-right: 5px;
        align-self: center;
        justify-self: center;
    }
    .time::before{
        content: url('/assets/images/searchResults/clock\ \(1\).svg');
        display: inline-flex;
        margin-right: 5px;
        align-self: center;
        justify-self: center;
    }
    .location::before{
        content: url('/assets/images/searchResults/map-pin.svg');
        display: inline-flex;
        margin-right: 5px;
        align-self: center;
        justify-self: center;
    }
}

.job_icons{
    display: flex;
    img{
        padding-right: 10px;
    }
    margin-bottom: 30px;
} 

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 25px;
}

.slider-all {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slide, .prevBtn, .nextBtn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid $details-text;
    border-radius: 5px;

}


.prevBtn,
.nextBtn {
    cursor: pointer;

}

.prevBtn:hover,
.nextBtn:hover,
.slide:hover {
    border: 1px solid #05A660;
    color:#05A660;
}

.back__section{
    background-color: $main;
    margin: 0 -18px 10px;
    padding: 25px 15px;
}

.filters{
    background-color: $main;
    margin: 0 -18px;
    padding: 15px;
}
.filters__container{
    background-color: $headBack;
    padding: 15px;
    border-radius: $base-border-radius;
    border:$base-border;
    display: flex;
    flex-direction: column;
    
   
} 

.filter__first{
    
    label{
        display: block;
        margin-bottom: 10px;
    }
    margin-bottom: 10px;
}

.selectFilter{
    border:$base-border;
    border-radius: $base-border-radius;
    padding: 15px ;
    font-weight: $basic-font-weight;
    width: 100%;
}

.normal__filter{
    margin-bottom: 5px !important;
}

.strong__filter{
    font-weight: $h4-font-weight;
}

.filter_salary_header{
    font-size: $base-font-size;
    margin: 20px 0 10px;
}

.checkboxes__filters{

}
.checkbox__container {
    margin: 25px 0;
}
.checkbox__header{
    display: flex;
    justify-content: space-between ;
    label{
        font-size: $base-font-size;
        font-weight: $h4-font-weight;
        margin-bottom: 10px;
    }
    span{
        color: $details-text;
        font-size: $extra-small-font-size;
        font-weight: $extra-thin-font;
    }

}

.checkbox__options{
    display: flex;
    flex-direction: column;
}

.checkbox__option{
    input{
        margin-right: 10px;
    }
}

.tab_button{
    border:none;
    border-bottom: $base-border;
    background-color: $main;
    padding: 15px;
    font-size: $base-font-size;
    font-weight: $btn-font-weigh;
    color: $details-text;
} 

.tab_button__second{
    border:none;
    background-color: $main;
    padding: 15px;
    font-size: $extra-small-font-size;
    font-weight: $basic-font-weight;
    color: $details-text;
}
.tab_active{
    border-bottom: 3px solid #2E1AAD !important;
    color:$h3-text;
}

.tab_active__second{
    font-weight: $extra-thin-font;
    color: black;
}
.highlight__header{
    display: flex;
    flex-direction: column;
    div{
        display: inline-flex;
    }
    margin: 10px 0;
    h4{
        font-weight: $h4-font-weight;
        padding: 0 5px 5px 0;
    }
}

.jobs__section{
    margin: 0 -18px;
    padding: 15px;
    background-color: $main;
}

.similar__jobs__h4{
    padding-top: 30px;
}

.similar__jobs__extra__info{
    font-weight: $btn-font-weigh;
    color: $btn-text-light;
    font-size: $base-font-size;
    padding-top: 10px;
}
.jobs__section__details, .jobs__section__company{
    display: none;
    
    h4{
        font-weight: $basic-font-weight;
        padding-bottom: 10px;
    }
}
.jobs__section__details__short__description{
    padding-bottom: 20px;
}

.home__container{
    
    background-color: $main;
    margin: 0 -15px ;
    padding: 15px;
} 

.home__tabs__first{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.home__tabs__second{
    display: flex;
    button{
        width: 100%;
    }
}

.google_btn{
    display: flex;
    margin-top: 40px;
    padding: 15px 20px;
    border:$base-border;
    justify-content: center;
    border-radius: $base-border-radius;
    h4{
        padding-left: 10px;
        font-weight: $btn-font-weigh;
        color: $btn-text-light;
    }
}

.text__home{
    font-weight: $h4-font-weight;
    color: $description-text;
}

.input__home{
    label{
        display: block;
        font-size: $extra-small-font-size;
        margin: 10px 0 5px;
    }
    input{
        box-sizing: border-box;
        font-size: $h4-font-size;
        font-weight: $btn-font-weigh;
        padding: 10px;
        border: $base-border;
        border-radius: $base-border-radius;
        width: 100%;
    }
}
.text__home__option{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.home_inputs{
    margin: 0 15px 0 0;
}

.home_check_rights{
    span{
        padding-left: 10px;
    }
    margin: 20px 0 40px;
}

.registration__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 90px;
}

.registration__info{
    text-align: center;
    h4{
        margin-bottom: 15px;
    }
    img{
        margin: 22px 0;
    }
}

.apply__header{
    padding: 20px 0;
} 
.apply__header__details{
    h2{
        padding-bottom: 5px;
    }
} 
.apply__header__details__company{
    color: $btn-text-light;
}

.application__container{
    background-color: $main;
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.application__arrow{
    color: $description-text; 
    font-size: $h3-font-size;   
    font-weight: $h4-font-weight;
    padding-right: 20px;
}
.application__header{
    padding:20px 0 20px 10px;
}
.apply__insert__file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main;
    margin: 0 -15px;
    padding: 30px 15px 20px 15px;
    margin-top: 15px;
}
.insert__file__header{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    h3{
        padding: 15px 0 10px;
    }
    h4{
        font-size: $h4-font-size;
        color: $description-text;
        font-weight: $extra-thin-font;
        line-height: 150%;
        text-align: center;
    }
} 

.edit_text a{
    font-size: $base-font-size;
    text-decoration: none;
    color: $btn-color;
    font-weight: $font-weight-600;
    
}

.edit_text{
    
    padding: 10px 0 15px;
}

.apply__allow{
    padding: 25px 0 40px;
    span{
        padding-left: 10px;
        font-size: $h4-font-size;
    }
}

.apply__content{
    button{
        margin-top: 30px;
    }
    margin-bottom: 70px;
}

.skip__option{
    color: $btn-color;
}

.cv__container{
    
    @extend .colorMainAndMargins;

    textarea{
        box-sizing: border-box;
        width: 100%;
        border: $base-border;
        border-radius: $base-border-radius;
        padding: 15px;
        color: $description-text;
        font-size: $base-font-size;
    }
} 

.cv__buttons{
    display: flex;
    flex-direction: column;
    .skip__link{
        align-self: center;
        padding-top: 20px;
        a{
            text-decoration: none;
            color: $btn-color;
        } 
    }
}
.question__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 20px;
    h4{
        padding-bottom: 20px
    }
   
}

.question__input{
    padding-bottom:15px;
    label{
        padding-left: 10px;
    }
}

.questionnaire__container, .review__container, .cv__review__container, .questionnaire__review__container{
    @extend .colorMainAndMargins;
    @extend .border_top_bottom;
}
.questionnaire__instruction{
    color: $details-text;
    padding-bottom: 25px;
}
.review__container{
    box-sizing: border-box;
    padding-bottom: 50px;
    margin-bottom: 15px;
}
.review__img {
    padding: 15px 0;
    img{
        width: 50%;
        height: auto;
    }
}
.cv__review__container{
    @extend .colorMainAndMargins;
    @extend .border_top_bottom; 
    h3{
        padding-bottom: 15px;
    }
    margin-bottom: 15px;
}
.questionnaire__review__container{
    h3{
        padding-bottom: 25px;
    }
    p{
        padding-bottom: 5px;
    }
    padding-bottom: 25px;
}
.questionnaire__review__part:not(:last-child){
    padding-bottom: 35px;
}

.job__success__text {
    margin-bottom: 5px !important;
}
.job__success{
    padding-bottom: 30px !important;
}

.edit__container{
    @extend .colorMainAndMargins;
    padding-right: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
    button{
        margin-top: 20px;
    }
}
.photo__upload {
    button{
        width: 100%;
        border: none;
        border-radius: $base-border-radius;
        background-color: $headBack;
        color:$description-text;
        min-height: 200px;
    }    
}
.edit__inputs{
    box-sizing: border-box;
    padding-top: 20px;
} 
.optional__fields__text{
    padding: 40px 0 15px 0;
}
