mixin applyStep(val, id, flag__skip)
    .application__container
        - const name=id+"_step.svg"
        .application__arrow
            | &lt-
        if id
            img(src=`../../assets/images/applyJobs/${name}`, alt="apply step")
        .application__header
            h3  #{val}
            if flag__skip
                .skip__option Skip