mixin newsMain(data)
    .thirdPart__card.firstPart__card
        .secondPart_info.fourthPart_info
        img(src=data.img, alt=data.img_name)
        h4 #{data.h4_text}
        .firstPart__card__description
            span #{data.description}