doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="../js_part/scripts.js")
    script(src="../js_part/changePage.js")
    link(rel="stylesheet" href="../styles/css/index.css")
    title my profile
body
    include ./includes/headerLogged.pug
    main 
        .profile__container 
            .profile__select
                 select.distance(name="distance", onchange="changePage(this.value)")
                    option(disabled, selected, value='myProfile') My profile
                    option(value="Applications") Applications
                    option(value="Recommended Roles") Recommended Roles
                    option(value="Employer Invitations") Employer Invitations
                    option(value="Saved Roles") Saved Roles

            .profile__about 
                .profile__about__header
                    h4 About you
                    .profile__about__header__edit 
                        img(src="/assets/images/myProfile/edit.svg", alt="edit")
                        span Edit
                .profile__about__content 
                    img(src="/assets/images/myProfile/avatar.jpg", alt="user_icon")
                    .profile__about__description 
                        h4 Anne-Marie Daniels
                        .profile__about__description__gmail
                            |anne.marie93@gmail.com

            .profile__cv
                .profile__cv__header  
                    h4 CV
                    img(src="/assets/images/myProfile/upload.svg", alt="upload")
                .profile__cv__current 
                    .profile__cv__current__text Your current CV:
                    .profile__cv__current__included
                        img(src="/assets/images/myProfile/doc.svg", alt="upload")
                        span Anne_Marie_CV.pdf
                .profile__cv__prev  
                    .profile__cv__prev__text Previous CV:
                    .profile__cv__prev__inserted So cv1.pdf 
                        span 02-04-2020

            .recommendation 
                .profile_selections__header 
                    h4 Recommendation settings
                    span.recommendation__edit Add/Edit
                .settings__box.box_with_borders
                    h4 Job types
                    .setting__option Permanent
                    .setting__option Contract
                    .setting__option Temporary
                    .setting__option Part Time

                .settings__box 
                    h4 Industries
                    .setting__option Engineer
                    .setting__option Mechanical Engineer
                    .setting__option Civil Engineer
                    .setting__option Engineer
                    .setting__option Mechanical Engineer
                    .setting__option Civil Engineer
            
            .salary__range 
                .profile_selections__header 
                    h4 Salary Range
                    span.recommendation__edit Add/Edit
                .salary__range__container
                    .range_outlier 
                        label(for="from") From: 
                        input(type="text", value="£ 40,000", name="from") 
                        span -
                    .range_outlier
                        label(for="to") To: 
                        input(type="text", value="£ 90,000", name="to") 

            .workplace__profile 
                .profile_selections__header 
                    h4 Workplace
                    span.recommendation__edit Add/Edit
                .workplace__profile__container 
                    .setting__option Office
                    .setting__option Partial Remote
            
            .office__location__profile 
                .profile_selections__header 
                    h4 Office location
                    span.recommendation__edit Add/Edit
                .office__location__profile__container 
                    .office__location__option London
                    .office__location__option Birmingham

            .open__opportunities__profile
                .profile_selections__header 
                    h4 Open to opportunities
                    span.recommendation__edit Add/Edit
                .open__opportunities__description 
                    | These companies can reach out to you for future roles
                .open__opportunities__companies 
                    .open__opportunities__comp 
                        img(src="/assets/images/myProfile/tesla.png", alt="company")
                        span Tesla Inc.
                    .open__opportunities__comp 
                        img(src="/assets/images/myProfile/ford.png", alt="company")
                        span Ford
            
            .notifications__profile
                .profile_selections__header 
                    h4 Notifications
                    span.recommendation__edit Edit
                .notifications__switchers 
                    .notifications__switcher.notifications__switcher__first
                        span Receive notification on application updates
                        label.switch
                            input(type="checkbox")
                            span.slider__switch.round
                    .notifications__switcher
                        span Weekly Summary of applications
                        label.switch
                            input(type="checkbox")
                            span.slider__switch.round
            .delete_profile 
                .profile_selections__header 
                    h4 Deleting your I-Tapp account
                .delete__awarning__profile 
                    |When you delete your I-Tapp account, you 
                    |won't be able to retrieve the content or information that you've shared on I-Tapp
                .delete__confirmation__profile
                    |Remove my account
    include ./includes/footer.pug