doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="../js_part/scripts.js")
    script(src="../js_part/changePage.js")
    link(rel="stylesheet" href="../styles/css/index.css")
    title payment
body
    include ./includes/headerLogged.pug
    include ./mixins/searchButton.pug
    main 
        .paymentHH__container 
            .paymentHH__subscription 
                .paymentHH__subscription__header 
                    h5 Subscription 
                    .paymentHH__subscription__header__plan 
                        .paymentHH__subscription__header__plan__time
                            h4 Monthly
                        .paymentHH__subscription__header__plan__price 
                            h4  £12 
                            span(class="paymentHH__subscription__header__plan__price_time") / month
                .paymentHH__points 
                    .paymentHH__point
                        .paymentHH__point__text 
                            |Unlimited Bandwitch
                    .paymentHH__point
                        .paymentHH__point__text 
                            |Encrypted Connection
                    .paymentHH__point
                        .paymentHH__point__text 
                            |Connect Anyware
                    .paymentHH__point
                        .paymentHH__point__text 
                            |Works on All Devices