@import "../../variables";
@import "../../base";
@mixin completeHH_opt{
    .completeHH__option__container{
        @extend .colorWhitePaddingsRadius;
        .completeHH__option__header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: $base-border;
            .completeHH__option__header__add{
                color: $btn-text-light;
                font-weight: $extra-thin-font;
            }
        .completeHH__option__choice{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            &:not(:last-child){
                border-bottom: $base-border;
            }
        }
        }
        
    }
} 
