
.firstPart__inputs
  input.job(type="text", placeholder="Job title")
  input.location(type="text", placeholder="Where")
  select.distance(name="distance")
    option(disabled, selected, hidden) Distance
    option(value="10") 10km
    option(value="50") 50km
    option(value="100") 100km
  input.search(type="button", value="Search", class="btnProb")
